# Importando bibliotecas Python para "ETL" e carregando os arquivos de dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
clientes = pd.read_csv('C:\\Users\\èriqy\\Documents\\projetos\\dataScienceAcademy\\cap03\\etc\\datasets\\Clientes.csv', encoding='latin-1', sep=';')
pedidos = pd.read_csv('C:\\Users\\èriqy\\Documents\\projetos\\dataScienceAcademy\\cap03\\etc\\datasets\\Pedidos.csv', encoding='latin-1', sep=';')
produtos = pd.read_csv('C:\\Users\\èriqy\\Documents\\projetos\\dataScienceAcademy\\cap03\\etc\\datasets\\Produtos.csv', encoding='latin-1', sep='\t')
vendas = pd.read_csv('C:\\Users\\èriqy\\Documents\\projetos\\dataScienceAcademy\\cap03\\etc\\datasets\\Vendas.csv', encoding='latin-1', sep='\t')

<br>

# Juntando todas as tabelas em uma só e aplicando modelagem

                                Removendo espaços em branco dos nomes das colunas para não ocasionar problemas de loading nos códigos.

In [3]:
clientes.columns = clientes.columns.str.strip()
pedidos.columns = pedidos.columns.str.strip()
produtos.columns = produtos.columns.str.strip()
vendas.columns = vendas.columns.str.strip()

<br>

                                                                                    Combinando a tabela de venda com a de pedidos.

In [4]:
vendas_pedidos = pd.merge(vendas, pedidos, left_on='Pedido', right_on='ï»¿ID Pedido', how='left')

<br>

                                                                    Em seguida, combinando o resultado acima com a tabela de produtos.

In [5]:
vendas_pedidos_produtos = pd.merge(vendas_pedidos, produtos, left_on='Produto', right_on='ID Produto', how='left')

<br>

                                                                                Sequencialmente, misturando com a tabela de clientes.

In [6]:
tf = pd.merge(vendas_pedidos_produtos, clientes, left_on='Cliente', right_on='ID Cliente', how='left')

<br>

                                                        Removendo as colunas 'Produto', 'Cliente' e 'ID Pedido' pois são duplicatas.

In [7]:
tf = tf.drop(columns=['Cliente', 'ï»¿ID Pedido', 'Produto'])

<br>

# Verificando se há Anormalidades nos dados

In [8]:
tf.columns

Index(['Pedido', 'Valor Venda', 'Quantidade Vendida', 'Custo Envio',
       'Data Pedido', 'Data Envio', 'Modo Envio', 'Prioridade Pedido',
       'ID Produto', 'Categoria', 'SubCategoria', 'Nome Produto', 'ID Cliente',
       'Nome Cliente', 'Segmento', 'Cidade', 'Estado', 'Pais', 'Mercado',
       'Regiao'],
      dtype='object')

In [9]:
tf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51304 entries, 0 to 51303
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Pedido              51304 non-null  object
 1   Valor Venda         51304 non-null  object
 2   Quantidade Vendida  51304 non-null  int64
 3   Custo Envio         51304 non-null  object
 4   Data Pedido         51304 non-null  object
 5   Data Envio          51304 non-null  object
 6   Modo Envio          51304 non-null  object
 7   Prioridade Pedido   51304 non-null  object
 8   ID Produto          51304 non-null  object
 9   Categoria           51304 non-null  object
 10  SubCategoria        51304 non-null  object
 11  Nome Produto        51304 non-null  object
 12  ID Cliente          51304 non-null  object
 13  Nome Cliente        51304 non-null  object
 14  Segmento            51304 non-null  object
 15  Cidade              51304 non-null  object
 16  Estado              51304 non-null  object
 17  Pais                51304 non-null  object
 18  Mercado             51304 non-null  object
 19  Regiao              51304 non-null  object
dtypes: int64(1), object(19)
memory usage: 7.8+ MB

In [10]:
tf.shape

(51304, 20)

In [11]:
tf.head()

,Pedido,Valor Venda,Quantidade Vendida,Custo Envio,Data Pedido,Data Envio,Modo Envio,Prioridade Pedido,ID Produto,Categoria,SubCategoria,Nome Produto,ID Cliente,Nome Cliente,Segmento,Cidade,Estado,Pais,Mercado,Regiao
0,CA-2012-124891,"2309,65",7,"933,57",31/07/2012,31/07/2012,Mesmo Dia,Critico,TEC-AC-10003033,Tecnologia,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,RH-19495,Rick Hansen,Consumidor,New York City,New York,United States,US,East
1,CA-2012-124891,"2309,65",7,"933,57",31/07/2012,31/07/2012,Mesmo Dia,Critico,TEC-AC-10003033,Tecnologia,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,RH-19495,Rick Hansen,Consumidor,New York City,New York,United States,US,East
2,CA-2012-124891,"2309,65",7,"933,57",31/07/2012,31/07/2012,Mesmo Dia,Critico,TEC-AC-10003033,Tecnologia,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,RH-19495,Rick Hansen,Consumidor,New York City,New York,United States,US,East
3,CA-2012-124891,"2309,65",7,"933,57",31/07/2012,31/07/2012,Mesmo Dia,Critico,TEC-AC-10003033,Tecnologia,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,RH-19495,Rick Hansen,Consumidor,New York City,New York,United States,US,East
4,IN-2013-77878,"3709,395",9,"923,63",05/02/2013,07/02/2013,Segunda Classe,Critico,FUR-CH-10003950,Moveis,Chairs,"Novimex Executive Leather Armchair, Black",JR-16210,Justin Ritter,Corporativo,Wollongong,New South Wales,Australia,APAC,Oceania

In [12]:
tf.isnull().sum()

Pedido                0
Valor Venda           0
Quantidade Vendida    0
Custo Envio           0
Data Pedido           0
Data Envio            0
Modo Envio            0
Prioridade Pedido     0
ID Produto            0
Categoria             0
SubCategoria          0
Nome Produto          0
ID Cliente            0
Nome Cliente          0
Segmento              0
Cidade                0
Estado                0
Pais                  0
Mercado               0
Regiao                0
dtype: int64

In [13]:
tf.duplicated().sum()

14

### *** Aqui observamos que não existem dados nulos, porém há 14 dados duplicados! ***

<br>

# Removendo duplicatas

In [14]:
tf.drop_duplicates(subset=None, keep="first", inplace=True)

In [15]:
tf.duplicated().sum()

0

<br>

# Salvando o arquivo em ".csv" para execução no PBI ou leitura no Excel

In [16]:
tf.to_csv('tabela_final.csv', index=False, encoding='latin-1')